<div class="mt-2 row center-sm center-md center-lg">
  <div class="col-xs-12 col-sm-8 col-md-6 col-lg-4 login-container">
    <div class="box">
      <mat-card class="mat-elevation-z8">
        <mat-card-title>
          <h3>Olvidaste tu</h3>
          <h5>contraseña</h5>
        </mat-card-title>
        <mat-card-actions>
          <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
              <mat-form-field class="correo full-width">
                <mat-label>Correo electrónico</mat-label>
                <input matInput>
              </mat-form-field>
            </div>
          </div>
          <button mat-stroked-button type="submit">Enviar</button>
        </mat-card-actions>
        <mat-card-subtitle><a mat-list-item routerLink="/login">Ingresar al sistema</a></mat-card-subtitle>
      </mat-card>
    </div>
  </div>
</div>