.map-container {
    height: 78vh;
}
  
.map-frame {
    border: 2px solid black;
    height: 100%;
}
  
#map {
    height: 100%;
}

.mat-card-title.filtros {
    font-size: 1rem;
}

table {
    width: 100%;
}
  
.mat-form-field {
    font-size: 14px;
    width: 100%;
}
  
td, th {
    width: 25%;
}