<!-- Content -->
<div class="row">
    <div class="mt-1 col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <div class="box">
            <mat-card>
                <mat-card-title>Documentos</mat-card-title>
            </mat-card>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 mt-1 mb-1">
    <mat-card class="gt-card">
        <div class="row">
        <div class="col-xs-3 py-2 relative">
            <button (click)="openRolesDialog()" class="fab-plus left-top" color="primary" mat-fab><mat-icon>add</mat-icon></button>
        </div>
        </div>
        <mat-card-content>            
            <div>
                <div class="row">
                    <div class="col-sx-4">
                        <mat-form-field class="full-width">
                            <input matInput placeholder="Buscar">
                        </mat-form-field>            
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-2 py-2 document text-center">
                        <mat-icon>insert_drive_file</mat-icon>
                        <div class="doc-label">Archivo XXXX</div>
                    </div>
                    <div class="col-xs-2 py-2 document text-center">
                        <mat-icon>insert_drive_file</mat-icon>
                        <div class="doc-label">Archivo XXXX</div>
                    </div>
                    <div class="col-xs-2 py-2 document text-center">
                        <mat-icon>insert_drive_file</mat-icon>
                        <div class="doc-label">Archivo XXXX</div>
                    </div>
                    <div class="col-xs-2 py-2 document text-center">
                        <mat-icon>insert_drive_file</mat-icon>
                        <div class="doc-label">Archivo XXXX</div>
                    </div>
                    <div class="col-xs-2 py-2 document text-center">
                        <mat-icon>insert_drive_file</mat-icon>
                        <div class="doc-label">Archivo XXXX</div>
                    </div>
                    <div class="col-xs-2 py-2 document text-center">
                        <mat-icon>insert_drive_file</mat-icon>
                        <div class="doc-label">Archivo XXXX</div>
                    </div>
                    <div class="col-xs-2 py-2 document text-center">
                        <mat-icon>insert_drive_file</mat-icon>
                        <div class="doc-label">Archivo XXXX</div>
                    </div>
                    <div class="col-xs-2 py-2 document text-center">
                        <mat-icon>insert_drive_file</mat-icon>
                        <div class="doc-label">Archivo XXXX</div>
                    </div>
                    <div class="col-xs-2 py-2 document text-center">
                        <mat-icon>insert_drive_file</mat-icon>
                        <div class="doc-label">Archivo XXXX</div>
                    </div>
                    <div class="col-xs-2 py-2 document text-center">
                        <mat-icon>insert_drive_file</mat-icon>
                        <div class="doc-label">Archivo XXXX</div>
                    </div>
                    <div class="col-xs-2 py-2 document text-center">
                        <mat-icon>insert_drive_file</mat-icon>
                        <div class="doc-label">Archivo XXXX</div>
                    </div>
                    <div class="col-xs-2 py-2 document text-center">
                        <mat-icon>insert_drive_file</mat-icon>
                        <div class="doc-label">Archivo XXXX</div>
                    </div>
                    <div class="col-xs-2 py-2 document text-center">
                        <mat-icon>insert_drive_file</mat-icon>
                        <div class="doc-label">Archivo XXXX</div>
                    </div>
                    <div class="col-xs-2 py-2 document text-center">
                        <mat-icon>insert_drive_file</mat-icon>
                        <div class="doc-label">Archivo XXXX</div>
                    </div>
                    <div class="col-xs-2 py-2 document text-center">
                        <mat-icon>insert_drive_file</mat-icon>
                        <div class="doc-label">Archivo XXXX</div>
                    </div>
                    <div class="col-xs-2 py-2 document text-center">
                        <mat-icon>insert_drive_file</mat-icon>
                        <div class="doc-label">Archivo XXXX</div>
                    </div>
                    <div class="col-xs-2 py-2 document text-center">
                        <mat-icon>insert_drive_file</mat-icon>
                        <div class="doc-label">Archivo XXXX</div>
                    </div>
                    <div class="col-xs-2 py-2 document text-center">
                        <mat-icon>insert_drive_file</mat-icon>
                        <div class="doc-label">Archivo XXXX</div>
                    </div>
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>

        </mat-card-actions>
    </mat-card>
    </div>   
</div>