<div class="mt-4 row center-sm center-md center-lg">
    <div class="col-xs-10 col-sm-8 col-md-6 col-lg-3 login-container">
        <div class="box">
            <form [formGroup]="loginForm" novalidate (ngSubmit)="onSubmit()">
                <mat-card class="mat-elevation-z8">
                    <mat-card-title>
                        <h3>Ingresa tu</h3>
                        <h5>usuario y contraseña</h5>
                    </mat-card-title>
                    <mat-card-actions>
                        <div class="row">
                            <div class="col-xs-10 col-xs-offset-1">
                                <mat-form-field class="usuario full-width">
                                    <mat-label>Usuario</mat-label>
                                    <input matInput placeholder="Usuario" formControlName="email">
                                </mat-form-field>
                            </div>
                            <div class="col-xs-10 col-xs-offset-1">
                                <mat-form-field class="password full-width">
                                    <mat-label>Contraseña</mat-label>
                                    <input matInput type="password" placeholder="Contraseña" formControlName="password">
                                </mat-form-field>
                            </div>
                        </div>
                        <button mat-stroked-button type="submit">Ingresar</button>
                    </mat-card-actions>
                </mat-card>
            </form>
        </div>
        <div class="logo">
            <img src="assets/logo.svg" alt="">
        </div>
    </div>
</div>